.clients {
  padding-top: 164px;
  padding-bottom: 116px;
  background-color: $white;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 102px;

    @include minidesk {
      column-gap: 30px;
    }
  }

  &__item {
    @include minidesk {
      display: flex;
      justify-content: center;
      grid-column: 3 span;
    }
  }

  &__link {
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid $primary;
      outline-offset: 2px;
    }

    &:hover {
      color: $active;
    }

    &:active {
      color: $active;
    }
  }
}
