.employee-benefits {
  padding-top: 120px;
  padding-bottom: 180px;
  background-color: $white;

  &__list {
    --mission-gap: 94px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: calc(var(--mission-gap) * 2);

    @include tablet {
      --mission-gap: 30px;
    }

    @include minitablet {
      --mission-gap: 10px;
    }

    @include mobile {
      display: block;
    }
  }

  &__item {
    position: relative;
    padding-top: 71px;
    text-align: center;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 48px 48px;

    &:not(:last-child) {
      &::after {
        content: '';
        position: absolute;
        right: calc(-1 * var(--mission-gap));
        top: 0;
        width: 1px;
        height: 100%;
        background-image: url(../img/divider.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }

    &--training {
      background-image: url(../img/training.svg);
    }
    &--growth {
      background-image: url(../img/growth.svg);
    }
    &--salary {
      background-image: url(../img/salary.svg);
    }

    @include mobile {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  }

  &__subtitle {
    margin: 0;
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 700;
    line-height: 150%;
    color: $ebony;
  }

  &__descr {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: $storm-gray;
  }

  @include mobile {
    padding-bottom: 40px;
  }
}
