.hero {
  &__container {
    max-width: 1230px;
  }

  &__content {
    max-width: 590px;
  }

  &__btns {
    .btn {
      &:not(:last-child) {
        margin-right: 20px;
      }
    }
  }
}

.hero-slider {
  overflow: hidden;
  width: 100%;
}

.hero-slide {
  padding-top: 220px;
  padding-bottom: 354px;
  color: $white;
  background-image: url(../img/hero-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: $gray;
}
