.nav {
  &__list {
    @include flex-v-center;

    @include tablet {
      margin-bottom: 40px;
      display: block;
    }
  }

  &__item {
    &:not(:last-child) {
      margin-right: 40px;

      @include tablet {
        margin-right: 0;
        margin-bottom: 30px;
      }
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;
    line-height: 160%;
    color: $gray;
    transition: color 0.3s ease-in-out;

    &:focus {
      outline: 2px solid $primary;
      outline-offset: 2px;
    }

    &:hover {
      color: $primary;
    }

    &:active {
      color: $active;
    }

    &--current {
      color: $primary;
    }
  }
}
