.partners {
  padding: 80px 0;
  background-color: $athens;

  &__title {
    margin-bottom: 60px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    row-gap: 40px;
    column-gap: 102px;
  }

  &--about {
    padding: 120px 0;
    background-color: $white;

    .partners__title {
      margin-bottom: 25px;
    }
  }
}
