.portfolio-section {
  padding: 120px 0;
  background-color: $white;

  &__top {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 48px;
  }

  &__slider-nav {
    transform: translateX(12px);
  }
  &__title {
    margin: 0;
    padding-bottom: 12px;
    max-width: 710px;
  }

  &__learn {
    margin-top: 80px;
  }

  &__items {
    padding: 30px;
    margin: -30px;
  }
}
