// colors
$white: #fff;
$black: #000;
$gray: #424551;
$storm-gray: #787a80;
$ebony: #1e212c;
$primary: #ff5a30;
$athens: #f4f5f7;
$active: #fc3300;


// stylization
$main-shadow:
  0 80px 80px -20px rgba(154, 156, 165, 0.08),
  0 30px 24px -10px rgba(154, 156, 165, 0.05),
  0 12px 10px -6px rgba(154, 156, 165, 0.04),
  0 4px 4px -4px rgba(30, 33, 44, 0.03);
